body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #b9d4c0;
}

h2 {
  color: #333;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #dae8eb;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}

/* Mobile styles: Apply when screen width is 600px or less */
@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
    padding: 10px;
  }

  h2 {
    font-size: 22px;
    text-align: center;
  }

  table {
    font-size: 14px;
    width: 100%;
    overflow-x: auto;
  }

  th,
  td {
    padding: 8px;
  }
}
